<launch>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <!-- <node pkg="robot_state_publisher" name="robot_state_publisher" 
    type="robot_state_publisher" respawn="false" output="screen"/> -->

    <!-- Start joint_state_publisher (for representation in rviz) -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
    <!-- Open in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shunting_vehicle_description)/rviz_config/urdf_visu.rviz"/>

</launch>